body
{

  font-size:1rem;
  -moz-transition: background-color 662ms cubic-bezier(.25,.46,.45,.94);
  -o-transition: background-color 662ms cubic-bezier(.25,.46,.45,.94);
  -webkit-transition: background-color 662ms cubic-bezier(.25,.46,.45,.94);
  transition: background-color 662ms cubic-bezier(.25,.46,.45,.94);
  background-color: #f2f2f2;


}


.mouter
{
margin-left:125px;
margin-right:125px;
margin-top:50px;
}
